margin: 0;
  padding: 0;
  background: #fdfdfd;
  color: #333;
}
header {
  background: #f2c9cc;
  padding: 20px;
  text-align: center;
}
.collection {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}
.item {
  background: #ffe6e6;
  padding: 20px;
  border-radius: 10px;
}
footer {
  text-align: center;
  padding: 10px;
  background: #f2c9cc;
